<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="canonical" href="/en/about/" />
    <script is:inline>
      try {
        window.sessionStorage?.setItem("websiteli_redirect_context", JSON.stringify({
          landingPage: window.location.href,
          referrer: document.referrer || "",
        }));
      } catch {}
      const target = new URL("/en/about/", window.location.origin);
      target.search = window.location.search;
      target.hash = window.location.hash;
      window.location.replace(target.toString());
    </script>
    <title>Websiteli About</title>
  </head>
  <body>
    <a href="/en/about/">Continue to Websiteli About</a>
  </body>
</html>
